<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">

    <title>Administrador</title>
</head>

<body>

    <article class="info">

    <h1 class="tituloAdm">Contador de visitas de la mejor página</h1>

    <table>
        <tbody>
            <tr>
                <td class="conTitulo">Pagina</td>
                <td class="conTitulo">Visitas</td>
            </tr>
            <tr>
                <td class="conTitulo">Inicio</td>
                <td class="con">{{conInicio}}</td>
            </tr>
            <tr>
                <td class="conTitulo">Sobre nosotros</td>
                <td class="con">{{conSobre}}</td>
            </tr>
            <tr>
                <td class="conTitulo">Contacto</td>
                <td class="con">{{conContacto}}</td>
            </tr>
        </tbody>
    </table>



    </article>
</body>

</html>