<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap" rel="stylesheet">

    <title>{{titulo}}</title>
</head>
<body>
    <article class="info">
        <h1 class="info__titulo">{{titulo}}</h1>
        <p class="info__texto">{{des}}</p>
    </article>

    <div class="enlaces">
        <a class="enlace" href="/inicio">Inicio</a>
        <a class="enlace" href="/sobre">Sobre mi</a>
        <a class="enlace" href="/contacto">Contacto</a>
    </div>    
    
    <div class="boton">
    <a class="enlaceAd" href="/admin"> Ir al administrador</a>
    </div>


</body>
</html>